[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django-cors-headers = "==2.4.0"
pytz = "==2018.7"
Django = "==2.1.3"
PyJWT = "==1.6.4"
redis = "*"

[requires]
python_version = "3.5"
